*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    box-sizing: border-box;
}

    /**generales**/

@font-face {
    font-family: "BeautyDemo";
    src: url(../font/BeautyDemo.ttf);
}

body{
    width: 1300px;
    height: 2000px;
    font-family: 'Times New Roman';
    background-color: bisque;
	overflow-x: hidden;
    padding: 50px 30px;
	margin-bottom: 50px;
    position: relative;
    align-items: center;
}

h1{
    font-family: "BeautyDemo";
    font-size: 100px;
    z-index: 1; 
    display: flex;
}
section{
    margin-bottom: 2%;
}
h2{
    font-size: 40px;
}

    /***Cabeceras***/
.img-logo{
    height: 200px;
    padding: 20px;
}
.menu-nav{
  
    position: sticky;
	top: 0px;
    padding-left: 5%;
    z-index: 10;
}
.nav{
    display: flex;
    height: auto;
    
}
.nav-botones{
    width: 80vw;
    
    background-color: rgb(243, 243, 243);
    position: sticky;
    top: 0px;
    font-size: 35px;
    padding: 5px 3%;
    list-style: none;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.titulos{
    width: 100%;
    display: flex;
    grid-area: titulos;
}
    /**Index**/

    /**Sobre mi**/
.imp{
    width: 300px;
    background-color: aqua;
   }
.smi{
    width: 90vw;
    position: relative;
    display: inline;
    margin-left: 1%;
    font-size: 25px
    
    
   }
.contenedor-smi{
    display: flex;
    align-items: center;
   }
    /**Ultimas publicaciones**/
.ult-publ{
    display: flex;
    height: 60vh;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.5);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}
.ultimas .imu{
    font-weight: 600;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    
}
.imu{
    height: 10vw;
    justify-content: space-between;
}

    /**inicio secion, encuesta**/
.ini-enc{
    margin-left: 5%;
    display:flex;
    width: 90%;
    justify-content: space-between;
}    
    
    /**inicio sesion**/    
.in-se{
    font-size: 20px;
    padding: 5px 3%;
    display: inline-block;
    background-color: rgb(13, 41, 250);
    width: 35vw;
    list-style: none;
    border-radius: 30px;
    align-items: center;
    display: flex;
}
.ini-ses form input{
    width: 90%;
    padding: 2%;
    margin: 5px 10%;
    font-size: 20px;
    border-radius: 20px;
    
}
.ini-ses p{
    font-size: 20px;
    margin: 5px 10px 0px 20vh;
    align-items: center;
}

    /**Encuesta**/ 
.en{
    font-size: 30px;
    padding: 5px 3%;
    background-color: rgb(234, 250, 13);
    width: 35vw;
    list-style: none;
    border-radius: 30px;
    align-items: center;
}

.en-opc{
    font-size: 30px;
    display: inline-flex;
    flex-direction: column;
    margin: 2px;
}
.en-opc strong{
    display: inline-block;
}

.img-enc{
    background-color: azure;
    width: 15%;
    position: absolute;
    right: 9%;
}


/**personajes**/
.personajes{
    position: relative;
    align-items: center;
}
/**menu personajes**/
.nav-per nav{
    font-size: 20px;
    padding: 5px 3%;
    display: inline-block;
    height: 60px;
    background-color: rgb(243, 243, 243);
    width: 95vw;
    list-style: none;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

/**contenenido personajes**/
  .img-personajes{
    width: 30vw;
    height: 70vh;
    
   }
.txt-personajes{
    width: 90vw;
    position: relative;
    display: inline;
    margin-left: 1%;
    font-size: 25px
    
   }
.contenedor-per{
    display: flex;
    align-items: center;
   }


/**Otros trabajos**/
.ot-trab{
    position: relative;
    align-items: center;
}


/**otros trabajos Personajes**/
.ot-personajes{
    display: flex;
    height: 60vh;
    width: 100%;
    background-color: rgba(42, 165, 106, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    
}
.contenedor-ot-personajes img{
    font-weight: 600;
    height: 30vh;
    padding: 3%;
    display: flexbox;
    
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    
}
.ot-personajes-img{
    height: 15vw;
    height: 80%;
    
    justify-content: space-between;
}
/**otros trabajos objetos**/
.ot-objetos{
    display: flex;
    height: 60vh;
    width: 100%;
    background-color: rgba(138, 165, 42, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
}
.contenedor-ot-objetos img{
    font-weight: 600;
    height: 30vh;
    padding: 3%;
    display: flexbox;
    
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    
}
.ot-objetos-img{
    height: 15vw;
    height: 80%;
    justify-content: space-between;
}

/**otros trabajos animaciones**/
.ot-animaciones{
    display: flex;
    height: 60vh;
    width: 100%;
    background-color: rgba(138, 165, 42, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
}

/**Torneo de Leyendas**/
.torneo-sip{
    width: 90vw;
    position: relative;
    display: inline;
    margin-left: 1%;
    font-size: 25px;
}
.contenedor-sipnosis{
    width: 90vw;
    background-color: rgba(236, 127, 255, 0.5);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    left: 20px;
}

/**entrenadores**/
.contenedor-entrenadores{
    display: flex;
    align-items: center;
}
.img-entrenadores{
    width: 150px;
    background-color: aqua;
}
.txt{
    width: 90vw;
    padding: 15px;
    position: relative;
    display: inline;
    margin-left: 1%;
    font-size: 25px;
    border-radius: 30px;
}

/**Jessie**/

.jessie{
    background-color: rgba(255, 0, 195, 0.5);
}

/**Rein**/
.rein{
    background-color: rgba(255, 0, 0, 0.5);
}

/**Kai**/
.kai{
    background-color: rgba(242, 255, 0, 0.5);
}

/**Contacto**/

/**imagenes contacto**/
.img-contacto{
    width: 25vw;
    height: 500px;
    background-color: aqua;
}
.puertas{
    display: flex;
    justify-content: space-between;
}
/**Youtube**/


/**Discord**/

/**Intragram**/

/**Comisiones**/
.comisiones{
    font-size: 30px;
    position: relative;
    left: 250px;
    padding: 5px 3%;
    background-color: rgb(234, 250, 13);
    width: 60vw;
    list-style: none;
    border-radius: 30px;
    align-items: center;
    display: inline-flex;
}
.tipo{
    margin-left: 45%;
    padding-bottom: 10px;
}
.opciones-com{
    padding-bottom: 10px;
}
.opciones-com div{
    display: inline;
    margin-left: 10%;
    justify-content: space-between;
    padding-bottom: 10px;
}
.img-referencia{
    margin-left: 30%;
    padding-bottom: 10px;
}
.img-ref{
    margin-left: 20%;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    
}
.img-ref input{
    border-radius: 20px;
    border: 0;
    font-size: 30px;
    padding-bottom: 10px; 
    margin-left: 10%;
}
.especifidades{
    margin-left: 38%;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
.espec{
    font-size: 28px;
    margin-left: 10px;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 10px; 
}
.espec input{
    border-radius: 20px;
    border: 0;
    font-size: 30px;
    padding-bottom: 10px; 
    margin-left: 27%;
}
.email{
    margin-left: 47%;
    padding-bottom: 10px;
}
.tu-mail{
    margin-left: 20%;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    
}
.tu-mail input{
    border-radius: 20px;
    border: 0;
    font-size: 30px;
    padding-bottom: 10px; 
    margin-left: 12%;
}








.footer{
    background-color: blue;
    grid-area: footer;
} 