.navegacion label{
    display: block;
    font-size: 2rem;
}

.nav-botones{
    display: none;
}
.navegacion #check-menu:checked~.nav-botones{
    background-color: rgb(243, 243, 243);
    width: 100%;
    position: absolute;
    left: 0;
    top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
