@font-face {
  font-family: "BeautyDemo";
  src: url(../font/BeautyDemo.ttf);
}
@font-face {
  font-family: "Photograph";
  src: url(../font/Photograph\ Signature.ttf);
}
@media (max-width: 1024px) {
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (max-width: 992px) {
  .ult div {
    width: 50vw;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 60%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 80%;
  }
  .sipnosis {
    width: 100%;
  }
  .sipnosis img {
    width: 100%;
  }
  .entrenadores div .nav-entrenadores ul li a img {
    width: 15vw;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 30px;
    gap: 5%;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .sob-enc .sobre-mi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 60%;
  }
  .ult div {
    width: 90vw;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 70%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 2;
         column-count: 2;
  }
  .sipnosis {
    width: 100%;
    display: flex;
  }
  .sipnosis img {
    width: 100%;
  }
  .sipnosis div {
    width: 80%;
  }
  .entrenadores {
    width: 100%;
    height: 100%;
  }
  .entrenadores div {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .entrenadores div .nav-entrenadores {
    height: 100%;
    align-content: space-around;
    border: 0;
    border-right: 2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    width: 20vw;
    display: inline-flex;
    margin-right: 0;
    padding-right: 0;
    border-color: rgb(163, 163, 163);
  }
  .entrenadores div .nav-entrenadores ul {
    width: 100%;
    margin: 0;
  }
  .entrenadores div .nav-entrenadores ul li a {
    padding-bottom: 5%;
    display: flex;
    border: 3px;
    border-top-right-radius: 0;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-bottom: 2px;
    padding-right: 0;
    border-color: rgb(210, 210, 210);
  }
  .entrenadores div .nav-entrenadores ul li a img {
    width: 100%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 30px;
  }
  .entrenadores div .con-entrenadores {
    display: inline-flex;
    border-left: 2px;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt {
    display: block;
    padding: 3%;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt img {
    width: 55%;
    height: 100%;
    margin: 2%;
  }
}
@media (max-width: 576px) {
  .sob-enc .sobre-mi {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 90%;
  }
  .ult div {
    width: 90vw;
  }
  .mis-personajes {
    width: 90vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 3%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 10%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 1;
         column-count: 1;
  }
  .puertas-b {
    display: block;
  }
  .puertas-b img {
    width: 80vw;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    padding: 6%;
  }
}
@media (min-width: 575px) {
  .footer {
    display: flex;
    background-color: none;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: block;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
@media (max-width: 425px) {
  /* Index */
  /* Encuesta */
  .encuesta {
    display: inline;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: inline-flex;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body h1 {
  font-family: "BeautyDemo";
  font-size: 5rem;
  text-align: center;
}

.logo {
  width: 70%;
}

.navegacion {
  border-radius: 30px;
}
.navegacion .nav-botones {
  width: 100%;
  justify-content: space-around;
  align-content: center;
  font-size: 150%;
}

.footer {
  display: flex;
  background-color: none;
  margin: 30px;
  gap: 5%;
}
.footer div {
  display: inline-flex;
}
.footer div div .img-redes div a img {
  width: 100%;
}
.footer div div .img-redes h3 {
  font-size: 1rem;
}
.footer div div .img-redes div ul li {
  display: inline-block;
}
.footer div .prin-pers {
  display: block;
}
.footer div .prin-pers .principal h3 {
  font-size: 1rem;
}
.footer div .prin-pers .principal div {
  display: inline-flex;
  flex-direction: column;
}
.footer div .prin-pers .principal div a {
  font-size: 0.7rem;
}
.footer div .prin-pers .pers-footer {
  margin-top: 5%;
}
.footer div .prin-pers .pers-footer h3 {
  font-size: 1rem;
}
.footer div .ot-footer section h3 {
  font-size: 1rem;
}
.footer div .ot-footer section div {
  display: inline-flex;
  flex-direction: column;
}
.footer div .ot-footer section div a {
  font-size: 0.7rem;
}
.footer div .com-footer section h3 {
  font-size: 1rem;
}
.footer div .com-footer section a {
  font-size: 0.7rem;
}

.sob-enc .sobre-mi {
  display: flexbox;
  border-radius: 25px;
  justify-items: center;
}
.sob-enc .sobre-mi h2 {
  text-align: center;
  display: block;
}
.sob-enc .sobre-mi div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}
.sob-enc .sobre-mi div img {
  border-radius: 25px;
}
.sob-enc .sobre-mi div div {
  display: inline-flex p;
  display-display: block;
  display-flex-direction: column;
  display-padding: 1%;
}

.ult h2 {
  text-align: center;
  display: block;
}
.ult div {
  width: 40vw;
  justify-content: center;
}
.ult div div {
  width: 100%;
}
.ult div div div {
  width: 90%;
}
.ult div div div img {
  width: 90%;
  height: 80%;
}
.ult a span {
  background-color: black;
  border-radius: 30%;
}

.mis-personajes {
  width: 95vw;
}
.mis-personajes .personajes div {
  border-radius: 25px;
}
.mis-personajes .personajes div .nav-ver {
  display: none;
}
.mis-personajes .personajes .personajes-con {
  margin-left: 2%;
}
.mis-personajes .personajes .personajes-con div .con-personajes h2 {
  font-family: "photograph";
  text-align: center;
  font-size: 50px;
}
.mis-personajes .personajes .personajes-con div .con-personajes div {
  display: inline-flex;
  padding: 3%;
}
.mis-personajes .personajes .personajes-con div .con-personajes div img {
  border-radius: 25px;
  width: 40%;
  height: 60%;
}
.mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
  width: 100%;
  display: inline-block;
}
.mis-personajes #charlie {
  background-color: rgba(143, 37, 37, 0.5);
}
.mis-personajes #charlie img {
  height: 60%;
}
.mis-personajes #freya {
  background-color: rgba(143, 106, 112, 0.5);
}
.mis-personajes #hotaru {
  background-color: rgba(127, 127, 127, 0.5);
}
.mis-personajes #ikko {
  background-color: rgba(123, 123, 253, 0.5);
}
.mis-personajes #jo {
  background-color: rgba(49, 49, 49, 0.5);
}
.mis-personajes #koi {
  background-color: rgba(253, 123, 123, 0.5);
}
.mis-personajes #lilith {
  background-color: rgba(155, 155, 155, 0.5);
}
.mis-personajes #mew {
  background-color: rgba(44, 196, 72, 0.5);
}
.mis-personajes #neeko {
  background-color: rgba(123, 253, 175, 0.5);
}
.mis-personajes #opal {
  background-color: rgba(123, 179, 253, 0.5);
}
.mis-personajes #phoenix {
  background-color: rgba(128, 17, 197, 0.5);
}
.mis-personajes #ri {
  background-color: rgba(184, 184, 195, 0.5);
}
.mis-personajes #thea {
  background-color: rgba(214, 114, 254, 0.5);
}
.mis-personajes #usagi {
  background-color: rgba(114, 172, 254, 0.5);
}
.mis-personajes #vanelloppe {
  background-color: rgba(254, 249, 114, 0.5);
}
.mis-personajes #zatch {
  background-color: rgba(255, 152, 197, 0.5);
}

.otros-trabajos h2 {
  text-align: center;
}
.otros-trabajos .ot-galeria-img {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 3%;
       column-gap: 3%;
  max-width: 100vw;
  margin: 0 0 0 auto;
  margin-bottom: 5%;
}
.otros-trabajos .ot-galeria-img .ot-card {
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
  margin-bottom: 5%;
  display: flex;
}
.otros-trabajos .ot-galeria-img .ot-card img {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgb(216, 216, 216);
}

.sipnosis {
  width: 100%;
  display: flexbox;
  align-content: center;
  justify-content: center;
}
.sipnosis img {
  width: 70%;
}

.entrenadores {
  width: 100%;
}
.entrenadores div {
  width: 100%;
}
.entrenadores div .nav-entrenadores {
  width: 100%;
}
.entrenadores div .nav-entrenadores ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.entrenadores div .nav-entrenadores ul li a {
  padding-bottom: 0;
}
.entrenadores div .nav-entrenadores ul li a img {
  width: 10vw;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.entrenadores div .con-entrenadores div div h2 {
  text-align: center;
  font-family: "photograph";
  font-size: 3rem;
}
.entrenadores div .con-entrenadores div div .con-img-txt {
  display: flex;
}
.entrenadores div .con-entrenadores div div .con-img-txt img {
  width: 30%;
}

.puertas .puertas-a div a .img-contacto {
  width: 100%;
  background-color: aqua;
  border-radius: 25px;
}
.puertas .puertas-b {
  display: none;
}
.puertas .puertas-b div a .img-contacto {
  height: 10rem;
  width: 90vw;
  background-color: aqua;
  display: none;
  margin-bottom: 3%;
  border-radius: 25px;
}

.formulario {
  justify-content: center;
  width: 50vw;
  border-radius: 25px;
  margin: 3%;
  padding: 2%;
  font-size: 1rem;
}
.formulario fieldset {
  justify-content: center;
  width: 20vw;
  display: flex;
  text-align: center;
}
.formulario fieldset h3 {
  text-align: center;
}
.formulario fieldset legend {
  display: block;
}
.formulario fieldset div div .opciones {
  display: inline-block;
}
.formulario div #form-floating label {
  margin: 2%;
}

@media (max-width: 1024px) {
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (max-width: 992px) {
  .ult div {
    width: 50vw;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 60%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 80%;
  }
  .sipnosis {
    width: 100%;
  }
  .sipnosis img {
    width: 100%;
  }
  .entrenadores div .nav-entrenadores ul li a img {
    width: 15vw;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 30px;
    gap: 5%;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .sob-enc .sobre-mi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 60%;
  }
  .ult div {
    width: 90vw;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 70%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 2;
         column-count: 2;
  }
  .sipnosis {
    width: 100%;
    display: flex;
  }
  .sipnosis img {
    width: 100%;
  }
  .sipnosis div {
    width: 80%;
  }
  .entrenadores {
    width: 100%;
    height: 100%;
  }
  .entrenadores div {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .entrenadores div .nav-entrenadores {
    height: 100%;
    align-content: space-around;
    border: 0;
    border-right: 2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    width: 20vw;
    display: inline-flex;
    margin-right: 0;
    padding-right: 0;
    border-color: rgb(163, 163, 163);
  }
  .entrenadores div .nav-entrenadores ul {
    width: 100%;
    margin: 0;
  }
  .entrenadores div .nav-entrenadores ul li a {
    padding-bottom: 5%;
    display: flex;
    border: 3px;
    border-top-right-radius: 0;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-bottom: 2px;
    padding-right: 0;
    border-color: rgb(210, 210, 210);
  }
  .entrenadores div .nav-entrenadores ul li a img {
    width: 100%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 30px;
  }
  .entrenadores div .con-entrenadores {
    display: inline-flex;
    border-left: 2px;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt {
    display: block;
    padding: 3%;
  }
  .entrenadores div .con-entrenadores div div .con-img-txt img {
    width: 55%;
    height: 100%;
    margin: 2%;
  }
}
@media (max-width: 576px) {
  .sob-enc .sobre-mi {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 90%;
  }
  .ult div {
    width: 90vw;
  }
  .mis-personajes {
    width: 90vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 3%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 10%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 1;
         column-count: 1;
  }
  .puertas-b {
    display: block;
  }
  .puertas-b img {
    width: 80vw;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    padding: 6%;
  }
}
@media (min-width: 575px) {
  .footer {
    display: flex;
    background-color: none;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: block;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
@media (max-width: 425px) {
  /* Index */
  /* Encuesta */
  .encuesta {
    display: inline;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: inline-flex;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}/*# sourceMappingURL=style.css.map */