*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* Generales */
@font-face {
    font-family: "BeautyDemo";
    src: url(../font/BeautyDemo.ttf);
}

@font-face {
    font-family: "Photograph";
    src: url(../font/Photograph\ Signature.ttf);
}

body{
    width: 100%;
    font-family: 'Times New Roman';
    
	overflow-x: hidden;
}

h1{
    font-family: "BeautyDemo";
    font-size: 5rem;
    z-index: 1;
    text-align: center;
}

/* Cabecera */
.logo{
    width: 70%;
}

/* Navegacion Escritorio */
.navegacion{ 
    border-radius: 2rem;
}
.nav-botones{
   width: 100%; 
   justify-content: space-around;
   align-content:center; 
   font-size: 150%;
}
/* Footer */
.footer{
    background-color: none;
    height: 15vh;
    width: 90vw;
    
    
}


.footer li{
    list-style: none;
}
.footer ul {
    width: 30%;
    

}



/* Index */
/* Sobre mi */
.sobre-mi{
    display: flexbox;
    border-radius: 2rem;
    justify-items: center;
    grid-area: Sobre-mi;
}
.sobre-mi h2{
    text-align: center;
    display: block;
}
.sobre-mi div{
    display: inline-flex;
    align-items: center;
    padding: 2%;
}
.sobre-mi div img{
    width: 30%;
    background-color: aqua;
    border-radius: 2rem;
}
.sobre-mi p{
    font-size: 1.3rem;
    padding:2%;
}

/* Encuesta */
.encuesta{
    border-radius: 2rem;
    font-size: 1.5rem;
}
.encuesta h2{
    text-align: center;
    display: block;
}
.enc-contenido{
    display: inline-flex;
    
}
.enc-opciones{
    display: inline-flex;
    flex-direction: column;
}
/* pesudo clase */
.enc-opciones form div:hover{
    font-size: 2rem;
}

/* Ultimas publicaciones */
.ult-publicaciones{
    height: 60%;
    display: flexbox;
    border-radius: 2rem;

    grid-area: ult-publicaciones;
}
.ult-publicaciones h2{
    text-align: center;
    display: block;
}
.ult-publicaciones img{
    width: 20%;
    height: 100%;
    border-radius: 2rem;
}



/* Personajes */
/* Seccion Personajes */

/* Navegacion personajes */
.nav-personajes{
    margin: 0%;
    padding: 0%;
    
}
/* Contenedor Personajes */
.con-personajes{
    
    background-color: rgba(240, 255, 255, 0.5);
    margin-left: 0vw;
}
.con-personajes div {
    display: flexbox;
    
}
.con-personajes h2{
    text-align: center;
    display: block;
    font-family: "photograph";
    font-size: 3.5rem;
}
.con-personajes img{
   width: 30%; 
   border-radius:1rem;
}
.con-personajes p{
    margin: 2%;
}
.txt-personajes{
    display: inline-flex;
    align-items: center;
    padding: 2%;

}

#charlie section{
    background-color: rgba(143, 37, 37, 0.5);
    border-radius: 1rem;
}
#charlie img{
    width: 40%;
}
#daisy section{
    background-color: rgba(12, 216, 179, 0.5);
    border-radius: 1rem;
}
#freya section{
    background-color: rgba(143, 106, 112, 0.5);
    border-radius: 1rem;
}
#hotaru section{
    background-color: rgba(127, 127, 127, 0.5);
    border-radius: 1rem;
}
#ikko section{
    background-color: rgba(123, 123, 253, 0.5);
    border-radius: 1rem;
}
#jo section{
    background-color: rgba(49, 49, 49, 0.5);
    border-radius: 1rem;
}
#koi section{
    background-color: rgba(253, 123, 123, 0.5);
    border-radius: 1rem;
}
#lilith section{
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 1rem;
}
#mew section{
    background-color: rgba(44, 196, 72, 0.5);
    border-radius: 1rem;
}
#neeko section{
    background-color: rgba(123, 253, 175, 0.5);
    border-radius: 1rem;
}
#opal section{
    background-color: rgba(123, 179, 253, 0.5);
    border-radius: 1rem;
}
#phoenix section{
    background-color: rgba(128, 17, 197, 0.5);
    border-radius: 1rem;
}
#ri section{
    background-color: rgba(184, 184, 195, 0.5);
    border-radius: 1rem;
}
#thea section{
    background-color: rgba(214, 114, 254, 0.5);
    border-radius: 1rem;
}
#usagi section{
    background-color: rgba(114, 172, 254, 0.5);
    border-radius: 1rem;
}
#vanelloppe section{
    background-color: rgba(254, 249, 114, 0.5);
    border-radius: 1rem;
}
#zatch section{
    background-color: rgba(255, 152, 197, 0.5);
    border-radius: 1rem;
}













/* Contacto */
/* Puertas */
.puertas-a img{
    width: 100%;
    background-color: aqua;
    border-radius: 2rem;
}
.puertas-b img{
    height: 10rem;
    width: 90vw;
    background-color: aqua;
    display: none;
    margin-bottom: 3%;
    border-radius: 2rem;

}
/* Formulario de comisiones */

.formulario{
    background-color: chartreuse;
    border-radius: 2rem;
    margin: 3%;
    padding: 2%;
    font-size: 1rem;
}
.formulario h3{
    text-align: center;
}
.formulario fieldset{
    display: flex;
    text-align: center;
}
.formulario fieldset legend{
    display: block;
}
.opciones{
    display: inline-block;
}


@media(max-width:768px){
    /* Index */
    /* Ultimas publicaciones */
    .ultpub-enc{
        flex-direction: column-reverse;
    }
   .encuesta{
    font-size: 1.2rem;
    width: 100vw;
    height: 40vh;
   }
   .ult-publicaciones{
    width: 100vw;
   }

   /* Contacto */
   /* Puertas */
   .puertas-a img{
    width: 100%;
}
   /* formulario de comisiones */
   .formulario{
    width: 80%;
   }
} 

@media(max-width: 576px){
    /* Index */
    /* Sobre mi */
    .sobre-mi div{
        display: inline;
    }
    .sobre-mi div img{
        width: 90%;
    }
    /* Ultimas publicaciones */
    .ultpub-enc{
     flex-direction: column-reverse;
    }
    /* encuesta */
    .enc-contenido{
        display: inline-block;
    }
    .puertas-a img{
        width: 80vw;
    }
     /* Formulario de comisiones */
     .formulario{
        font-size: 1rem;
        padding: 6%;
    }
}

@media(max-width: 575px){
    /* Index */
    /* Encuesta */
    .encuesta{
        display: inline-block;
        width: 100vw;
        height: 60vh;
    }

     /* Contacto */
    /* Puertas */
    .puertas-a img{
        display: none;
    }
    .puertas-b img{
        display: block;
    }
     /* Formulario de comisiones */
     .formulario{
        font-size: 1rem;
        width: 80vw;
        padding: 6%;
    }
}

@media(max-width: 425px){
    /* Index */
    /* Encuesta */
    .encuesta{
        display: inline;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
    }
    /* Contacto */
    /* Puertas */
    .puertas-a img{
        display: none;
    }
    .puertas-b img{
        display: inline-flex;
    }
    /* Formulario de comisiones */
    .formulario{
        font-size: 1rem;
        width: 80vw;
        padding: 6%;
    }
}