@font-face {
  font-family: "BeautyDemo";
  src: url(../font/BeautyDemo.ttf);
}
@font-face {
  font-family: "Photograph";
  src: url(../font/Photograph\ Signature.ttf);
}
@media (max-width: 1024px) {
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (max-width: 992px) {
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 60%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 80%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 30px;
    gap: 5%;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .sob-enc .sobre-mi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 60%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 100vw;
    height: 50vh;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 70%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 2;
         column-count: 2;
  }
}
/* Contacto */
/* Puertas */
.puertas-a img {
  width: 100%;
}

/* formulario de comisiones */
.formulario {
  width: 80%;
}

/* grid */
/* personajes */
@media (max-width: 576px) {
  .sob-enc .sobre-mi {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 90%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 120vw;
    height: 60vh;
  }
  .mis-personajes {
    width: 90vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 3%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 10%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 1;
         column-count: 1;
  }
  .puertas-b {
    display: block;
  }
  .puertas-b img {
    width: 80vw;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    padding: 6%;
  }
}
@media (max-width: 575px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 0px;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 100vw;
    height: 100vh;
    margin: 10% 0 0;
    align-items: none;
    justify-content: none;
  }
  .ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor {
    justify-content: none;
    align-items: none;
  }
  .ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor .ult-pub-con-img {
    right: 5%;
  }
  /* Index */
  /* Encuesta */
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: block;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
@media (max-width: 425px) {
  /* Index */
  /* Encuesta */
  .encuesta {
    display: inline;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: inline-flex;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body h1 {
  font-family: "BeautyDemo";
  font-size: 5rem;
  text-align: center;
}

.logo {
  width: 70%;
}

.navegacion {
  border-radius: 30px;
}
.navegacion .nav-botones {
  width: 100%;
  justify-content: space-around;
  align-content: center;
  font-size: 150%;
}

.footer {
  display: flex;
  background-color: none;
  margin: 30px;
  gap: 5%;
}
.footer div {
  display: inline-flex;
}
.footer div div .img-redes div a img {
  width: 100%;
}
.footer div div .img-redes h3 {
  font-size: 1rem;
}
.footer div div .img-redes div ul li {
  display: inline-block;
}
.footer div .prin-pers {
  display: block;
}
.footer div .prin-pers .principal h3 {
  font-size: 1rem;
}
.footer div .prin-pers .principal div {
  display: inline-flex;
  flex-direction: column;
}
.footer div .prin-pers .principal div a {
  font-size: 0.7rem;
}
.footer div .prin-pers .pers-footer {
  margin-top: 5%;
}
.footer div .prin-pers .pers-footer h3 {
  font-size: 1rem;
}
.footer div .ot-footer section h3 {
  font-size: 1rem;
}
.footer div .ot-footer section div {
  display: inline-flex;
  flex-direction: column;
}
.footer div .ot-footer section div a {
  font-size: 0.7rem;
}
.footer div .com-footer section h3 {
  font-size: 1rem;
}
.footer div .com-footer section a {
  font-size: 0.7rem;
}

.sob-enc .sobre-mi {
  display: flexbox;
  border-radius: 25px;
  justify-items: center;
}
.sob-enc .sobre-mi h2 {
  text-align: center;
  display: block;
}
.sob-enc .sobre-mi div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}
.sob-enc .sobre-mi div img {
  background-color: aqua;
  border-radius: 25px;
}
.sob-enc .sobre-mi div div {
  display: inline-flex p;
  display-display: block;
  display-flex-direction: column;
  display-padding: 1%;
}

.ult {
  height: 100vh;
}
.ult h2 {
  text-align: center;
  display: block;
}
.ult .ult-pub-slider {
  max-width: 90vw;
  max-height: 100vh;
}
.ult .ult-pub-slider .ult-pub-galeria {
  width: 50vw;
  height: 50vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor input[type=radio] {
  display: none;
}
.ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor .ult-pub-con-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor .ult-pub-con-img .card {
  position: absolute;
  width: 60%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgb(255, 255, 255);
}
.ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor .ult-pub-con-img .card img {
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ult #item-1:checked ~ .ult-pub-con-img #selector-18,
.ult #item-2:checked ~ .ult-pub-con-img #selector-1,
.ult #item-3:checked ~ .ult-pub-con-img #selector-2,
.ult #item-4:checked ~ .ult-pub-con-img #selector-3,
.ult #item-5:checked ~ .ult-pub-con-img #selector-4,
.ult #item-6:checked ~ .ult-pub-con-img #selector-5,
.ult #item-7:checked ~ .ult-pub-con-img #selector-6,
.ult #item-8:checked ~ .ult-pub-con-img #selector-7,
.ult #item-9:checked ~ .ult-pub-con-img #selector-8,
.ult #item-10:checked ~ .ult-pub-con-img #selector-9,
.ult #item-11:checked ~ .ult-pub-con-img #selector-10,
.ult #item-12:checked ~ .ult-pub-con-img #selector-11,
.ult #item-13:checked ~ .ult-pub-con-img #selector-12,
.ult #item-14:checked ~ .ult-pub-con-img #selector-13,
.ult #item-15:checked ~ .ult-pub-con-img #selector-14,
.ult #item-16:checked ~ .ult-pub-con-img #selector-15,
.ult #item-17:checked ~ .ult-pub-con-img #selector-16,
.ult #item-18:checked ~ .ult-pub-con-img #selector-17 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
.ult #item-1:checked ~ .ult-pub-con-img #selector-2,
.ult #item-2:checked ~ .ult-pub-con-img #selector-3,
.ult #item-3:checked ~ .ult-pub-con-img #selector-4,
.ult #item-4:checked ~ .ult-pub-con-img #selector-5,
.ult #item-5:checked ~ .ult-pub-con-img #selector-6,
.ult #item-6:checked ~ .ult-pub-con-img #selector-7,
.ult #item-7:checked ~ .ult-pub-con-img #selector-8,
.ult #item-8:checked ~ .ult-pub-con-img #selector-9,
.ult #item-9:checked ~ .ult-pub-con-img #selector-10,
.ult #item-10:checked ~ .ult-pub-con-img #selector-11,
.ult #item-11:checked ~ .ult-pub-con-img #selector-12,
.ult #item-12:checked ~ .ult-pub-con-img #selector-13,
.ult #item-13:checked ~ .ult-pub-con-img #selector-14,
.ult #item-14:checked ~ .ult-pub-con-img #selector-15,
.ult #item-15:checked ~ .ult-pub-con-img #selector-16,
.ult #item-16:checked ~ .ult-pub-con-img #selector-17,
.ult #item-17:checked ~ .ult-pub-con-img #selector-18,
.ult #item-18:checked ~ .ult-pub-con-img #selector-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
.ult #item-1:checked ~ .ult-pub-con-img #selector-1,
.ult #item-2:checked ~ .ult-pub-con-img #selector-2,
.ult #item-3:checked ~ .ult-pub-con-img #selector-3,
.ult #item-4:checked ~ .ult-pub-con-img #selector-4,
.ult #item-5:checked ~ .ult-pub-con-img #selector-5,
.ult #item-6:checked ~ .ult-pub-con-img #selector-6,
.ult #item-7:checked ~ .ult-pub-con-img #selector-7,
.ult #item-8:checked ~ .ult-pub-con-img #selector-8,
.ult #item-9:checked ~ .ult-pub-con-img #selector-9,
.ult #item-10:checked ~ .ult-pub-con-img #selector-10,
.ult #item-11:checked ~ .ult-pub-con-img #selector-11,
.ult #item-12:checked ~ .ult-pub-con-img #selector-12,
.ult #item-13:checked ~ .ult-pub-con-img #selector-13,
.ult #item-14:checked ~ .ult-pub-con-img #selector-14,
.ult #item-15:checked ~ .ult-pub-con-img #selector-15,
.ult #item-16:checked ~ .ult-pub-con-img #selector-16,
.ult #item-17:checked ~ .ult-pub-con-img #selector-17,
.ult #item-18:checked ~ .ult-pub-con-img #selector-18 {
  transform: translateX(0) scale(1);
  z-index: 2;
}

.mis-personajes {
  width: 95vw;
}
.mis-personajes .personajes div {
  border-radius: 25px;
}
.mis-personajes .personajes div .nav-ver {
  display: none;
}
.mis-personajes .personajes .personajes-con {
  margin-left: 2%;
}
.mis-personajes .personajes .personajes-con div .con-personajes h2 {
  font-family: "photograph";
  text-align: center;
  font-size: 50px;
}
.mis-personajes .personajes .personajes-con div .con-personajes div {
  display: inline-flex;
  padding: 3%;
}
.mis-personajes .personajes .personajes-con div .con-personajes div img {
  border-radius: 25px;
  width: 40%;
  height: 60%;
}
.mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
  width: 100%;
  display: inline-block;
}
.mis-personajes #charlie {
  background-color: rgba(143, 37, 37, 0.5);
}
.mis-personajes #charlie img {
  height: 60%;
}
.mis-personajes #freya {
  background-color: rgba(143, 106, 112, 0.5);
}
.mis-personajes #hotaru {
  background-color: rgba(127, 127, 127, 0.5);
}
.mis-personajes #ikko {
  background-color: rgba(123, 123, 253, 0.5);
}
.mis-personajes #jo {
  background-color: rgba(49, 49, 49, 0.5);
}
.mis-personajes #koi {
  background-color: rgba(253, 123, 123, 0.5);
}
.mis-personajes #lilith {
  background-color: rgba(155, 155, 155, 0.5);
}
.mis-personajes #mew {
  background-color: rgba(44, 196, 72, 0.5);
}
.mis-personajes #neeko {
  background-color: rgba(123, 253, 175, 0.5);
}
.mis-personajes #opal {
  background-color: rgba(123, 179, 253, 0.5);
}
.mis-personajes #phoenix {
  background-color: rgba(128, 17, 197, 0.5);
}
.mis-personajes #ri {
  background-color: rgba(184, 184, 195, 0.5);
}
.mis-personajes #thea {
  background-color: rgba(214, 114, 254, 0.5);
}
.mis-personajes #usagi {
  background-color: rgba(114, 172, 254, 0.5);
}
.mis-personajes #vanelloppe {
  background-color: rgba(254, 249, 114, 0.5);
}
.mis-personajes #zatch {
  background-color: rgba(255, 152, 197, 0.5);
}

.otros-trabajos h2 {
  text-align: center;
}
.otros-trabajos .ot-galeria-img {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 3%;
       column-gap: 3%;
  max-width: 100vw;
  margin: 0 0 0 auto;
  margin-bottom: 5%;
}
.otros-trabajos .ot-galeria-img .ot-card {
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
  margin-bottom: 5%;
  display: flex;
}
.otros-trabajos .ot-galeria-img .ot-card img {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgb(216, 216, 216);
}

.sipnosis img {
  height: 50vh;
  width: 85vw;
  background-color: blueviolet;
}

.nav-entrenadores {
  width: 20vw;
  height: 10vh;
  background-color: aqua;
}

.con-entrenadores {
  font-size: 1.2rem;
  margin-left: 0vw;
  width: 97vw;
}
.con-entrenadores div div h2 {
  text-align: center;
  display: block;
  font-family: "photograph";
  font-size: 2.5rem;
}
.con-entrenadores div div div {
  display: inline-flex;
  width: 80vw;
}
.con-entrenadores div div div img {
  display: inline-flex;
  border-radius: 2rem;
  width: 30vw;
  height: 80vh;
  background-color: aqua;
}
.con-entrenadores div div div div {
  display: inline-flex;
  padding: 2%;
}
.con-entrenadores div div div div .txt-entrenadores {
  display: block;
  padding: 1%;
}

.puertas .puertas-a div a .img-contacto {
  width: 100%;
  background-color: aqua;
  border-radius: 25px;
}
.puertas .puertas-b {
  display: none;
}
.puertas .puertas-b div a .img-contacto {
  height: 10rem;
  width: 90vw;
  background-color: aqua;
  display: none;
  margin-bottom: 3%;
  border-radius: 25px;
}

.formulario {
  justify-content: center;
  width: 50vw;
  border-radius: 25px;
  margin: 3%;
  padding: 2%;
  font-size: 1rem;
}
.formulario fieldset {
  justify-content: center;
  width: 20vw;
  display: flex;
  text-align: center;
}
.formulario fieldset h3 {
  text-align: center;
}
.formulario fieldset legend {
  display: block;
}
.formulario fieldset div div .opciones {
  display: inline-block;
}
.formulario div #form-floating label {
  margin: 2%;
}

@media (max-width: 1024px) {
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (max-width: 992px) {
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 60%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 80%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 30px;
    gap: 5%;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .sob-enc .sobre-mi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 60%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 100vw;
    height: 50vh;
  }
  .mis-personajes {
    width: 95vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 5%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 5%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 70%;
    height: 50%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div .txt-personajes {
    width: 100%;
    display: inline-block;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 2;
         column-count: 2;
  }
}
/* Contacto */
/* Puertas */
.puertas-a img {
  width: 100%;
}

/* formulario de comisiones */
.formulario {
  width: 80%;
}

/* grid */
/* personajes */
@media (max-width: 576px) {
  .sob-enc .sobre-mi {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sob-enc .sobre-mi div img {
    width: 90%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 120vw;
    height: 60vh;
  }
  .mis-personajes {
    width: 90vw;
  }
  .mis-personajes .personajes .nav-hor {
    display: none;
  }
  .mis-personajes .personajes div .nav-ver {
    width: 3%;
    font-size: 0.8rem;
    display: inline-flex;
  }
  .mis-personajes .personajes .personajes-con {
    margin-left: 10%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes h2 {
    font-family: "photograph";
    text-align: center;
    font-size: 50px;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div {
    display: inline-block;
    padding: 3%;
  }
  .mis-personajes .personajes .personajes-con div .con-personajes div img {
    border-radius: 25px;
    width: 100%;
    height: 50%;
  }
  .mis-personajes #charlie img {
    height: 100%;
  }
  .otros-trabajos .ot-galeria-img {
    -moz-column-count: 1;
         column-count: 1;
  }
  .puertas-b {
    display: block;
  }
  .puertas-b img {
    width: 80vw;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    padding: 6%;
  }
}
@media (max-width: 575px) {
  .footer {
    display: flex;
    background-color: none;
    margin: 0px;
  }
  .footer div {
    display: inline-flex;
  }
  .footer div div .img-redes div a img {
    width: 100%;
  }
  .ult .ult-pub-slider .ult-pub-galeria {
    width: 100vw;
    height: 100vh;
    margin: 10% 0 0;
    align-items: none;
    justify-content: none;
  }
  .ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor {
    justify-content: none;
    align-items: none;
  }
  .ult .ult-pub-slider .ult-pub-galeria .ult-pub-contenedor .ult-pub-con-img {
    right: 5%;
  }
  /* Index */
  /* Encuesta */
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: block;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}
@media (max-width: 425px) {
  /* Index */
  /* Encuesta */
  .encuesta {
    display: inline;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
  }
  /* Contacto */
  /* Puertas */
  .puertas-a img {
    display: none;
  }
  .puertas-b img {
    display: inline-flex;
  }
  /* Formulario de comisiones */
  .formulario {
    font-size: 1rem;
    width: 80vw;
    padding: 6%;
  }
}/*# sourceMappingURL=style.css.map */