@import "./partials/fuentes";

@import "./partials/queries";

// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
// generales
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    h1 {
        font-family: "BeautyDemo";
        font-size: 5rem;
        text-align: center;
    }
    

}

// Navegacion
.logo{
    width: 70%
}

.navegacion{
    border-radius: 30px;

    .nav-botones{
        width: 100%; 
        justify-content: space-around;
        align-content:center; 
        font-size: 150%;
    }
}

// Footer
.footer{
    display: flex;
    background-color: none;
    margin: 30px;

    gap: 5%;
    div{
        display: inline-flex;
        div{
            .img-redes{
                div{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                h3{
                    font-size: 1rem;
                }
                div{
                    ul{
                        li{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .prin-pers{
            display: block;
            .principal{
                h3{
                    font-size: 1rem;
                }
                div{
                    display: inline-flex;
                    flex-direction: column;                       
                    a{
                        font-size: 0.7rem;
                    } 
                }
            }
            .pers-footer{
                margin-top: 5%;
                h3{
                    font-size: 1rem;
                }
            }   
        }
        .ot-footer{
            section{
                h3{
                    font-size: 1rem;
                }
                div{
                    display: inline-flex;
                    flex-direction: column;
                        
                    a{
                        font-size: 0.7rem;
                    } 
                }
            }
        }
        .com-footer{
            section{
                h3{
                    font-size: 1rem;
                }
                a{
                    font-size: 0.7rem;
                } 
            }
        }
    }
}

// Index
// sobre mi,Encuesta
.sob-enc{
    .sobre-mi{
        display: flexbox;
        border-radius: 25px;
        justify-items: center;
        h2{
            text-align: center;
            display: block;
        }
        div{
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            padding: 2%;
    
            img{
                border-radius: 25px;
            }
            div{
                display: inline-flex
                p{
                    display: block;
                    flex-direction: column;
                    padding: 1%;
                }
            }
        }
    }
}

// ultimas publicaciones
.ult{
    h2{
        text-align: center;
        display: block;
    }
    div{
        width: 40vw;
        justify-content: center;
        div{
            width: 100%;
            div{
                width: 90%;
                img{
                    width: 90%;
                    height: 80%;
                }
            }
        }
    }
   a{
    span{
        background-color: black;
        border-radius: 30%;
    }
   }
}

// Personajes

// Contenedor personajes
.mis-personajes{
    width: 95vw;
    .personajes{ 
        div{
            border-radius: 25px;
            .nav-ver{
                display: none;
            }
        }
        .personajes-con{
           margin-left: 2%;
           div{
                .con-personajes{
                    h2{
                        font-family: "photograph";
                        text-align: center;
                        font-size: 50px;
                    }
                    div{
                        display: inline-flex;
                        padding: 3%;
                        img{
                            border-radius: 25px;
                            width: 40%;
                            height: 60%;
                        }
                        .txt-personajes{
                            width: 100%;
                            
                            display: inline-block
                        }
                    }
                }
           }
        }
    }
    #charlie{
        background-color: rgba(143, 37, 37, 0.5);
        img{
            height: 60%;
        }
    }
    #freya{
        background-color: rgba(143, 106, 112, 0.5);
    } 
    #hotaru{
        background-color: rgba(127, 127, 127, 0.5);
    }
    #ikko{
        background-color: rgba(123, 123, 253, 0.5);
    }
    #jo{
        background-color: rgba(49, 49, 49, 0.5);
    }
    #koi{
        background-color: rgba(253, 123, 123, 0.5);
    }
    #lilith{
        background-color: rgba(155, 155, 155, 0.5);
    }
    #mew{
        background-color: rgba(44, 196, 72, 0.5);
    }
    #neeko{
        background-color: rgba(123, 253, 175, 0.5);
    }
    #opal{
        background-color: rgba(123, 179, 253, 0.5);
    }
    #phoenix{
        background-color: rgba(128, 17, 197, 0.5);
    }
    #ri{
        background-color: rgba(184, 184, 195, 0.5);
    }
    #thea{
        background-color: rgba(214, 114, 254, 0.5);
    }
    #usagi{
        background-color: rgba(114, 172, 254, 0.5);
    }
    #vanelloppe{
        background-color: rgba(254, 249, 114, 0.5);
    }
    #zatch{
        background-color: rgba(255, 152, 197, 0.5);
    }
}

// Otros trabajos
.otros-trabajos{
    h2{
        text-align: center;
    }
    .ot-galeria-img{
        column-count: 4;
        column-gap: 3%;
        max-width: 100vw;
        margin: 0 0 0 auto;
        margin-bottom: 5%;
        
        .ot-card{
            break-inside: avoid-column;
            margin-bottom: 5%;
            display: flex;
            img{
                width: 100%;
                height: auto;
                display: block;
                background-color: rgb(216, 216, 216);
            }
        }
    }
}


// Torneo de Leyendas
// Sipnosis
.sipnosis{
    width: 100%;
    display: flexbox;
    align-content: center;
    justify-content: center;
    img{
        width: 70%;
    }
}

// Entrenadores
.entrenadores{
    width: 100%;
    div{
        width: 100%;
        .nav-entrenadores{
          width: 100%;
            ul{
                width: 100%;
                display: inline-flex;
                justify-content: space-around;
                li{  
                    a{
                        padding-bottom: 0;
                        img{
                            width: 10vw;
                            border-top-right-radius: 30px;
                            border-top-left-radius: 30px;
                        }
                    }
                }
            }
        }
        .con-entrenadores{
            div{
                div{
                    h2{
                        text-align: center;
                        font-family: "photograph";
                        font-size: 3rem;
                    }
                    .con-img-txt{
                         display: flex;

                        img{
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

// Contacto
// Puertas
.puertas{
    width: 85vw;
    .puertas-a{
        display: flex;
        justify-content: space-between;
        div{
            
            display: inline-flex;
            flex-direction: column;
            h2{
                font-family: "photograph";
                text-align: center;
                font-size: 50px;
                display: block;

            }
            a{
                display: block;
                .img-contacto{
                    width: 100%;
                }
            }  
        }
    }
    .puertas-b{
        display: none;
    }
}
// Formulario de Comisiones

@import "./partials/queries";