@media(max-width:1024px){

    // Otros trabajos
    .otros-trabajos{
        .ot-galeria-img{
            column-count: 3;
        }
    }
}

@media(max-width:992px){
    // Personajes
    .mis-personajes{
        width: 95vw;
        .personajes{
            // display: inline-flex;
            .nav-hor{
                display: none;
            }
            div{
                .nav-ver{
                    width: 5%;
                    font-size: 0.8rem;
                    display: inline-flex;
                }
            }
            .personajes-con{
                margin-left: 5%;
                div{
                    .con-personajes{
                        h2{
                            font-family: "photograph";
                            text-align: center;
                            font-size: 50px;
                        }
                        div{
                            display: inline-block;
                            padding: 3%;
                            img{
                                border-radius: 25px;
                                width: 60%;
                                height: 50%;
                            }
                            .txt-personajes{
                                width: 100%;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        #charlie{
            img{
                height: 80%;
            }
        }
    }
}


@media(max-width:768px){
    // Footer
    .footer{
        display: flex;
        background-color: none;
        margin: 30px;
    
        gap: 5%;
        div{
            display: inline-flex;
            div{
                .img-redes{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    // Index
    // Sobre mi encuesta
    .sob-enc{
        .sobre-mi{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            div{
                img{
                    width: 60%;
                }
            }
            
        }
    }
    // Ultimas publicaicones 
    .ult{
        .ult-pub-slider{
            .ult-pub-galeria{
                width: 100vw;
                height: 50vh;
            }
        }
    }

    // Pesonajes
    // Personajes
    .mis-personajes{
        width: 95vw;
        .personajes{
            // display: inline-flex;
            .nav-hor{
                display: none;
            }
            div{
                .nav-ver{
                    width: 5%;
                    font-size: 0.8rem;
                    display: inline-flex;
                }
            }
            .personajes-con{
                margin-left: 5%;
                div{
                    .con-personajes{
                        h2{
                            font-family: "photograph";
                            text-align: center;
                            font-size: 50px;
                        }
                        div{
                            display: inline-block;
                            padding: 3%;
                            img{
                                border-radius: 25px;
                                width: 70%;
                                height: 50%;
                                
                            }
                            .txt-personajes{
                                width: 100%;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        #charlie{
            img{
                height: 100%;
            }
        }
    }



    // .mis-personajes{
    //     nav{
    //         .nav-hor{
    //             display: none;
    //         }
    //         div{
    //             .nav-ver{
    //                 display: inline-flex;
    //             }
    //             .personajes{
    //                 display: block;
    //                 div{
    //                     section{
    //                         div{
    //                             .img-personajes{
    //                                 width: 100%;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    // Otros trabajos
    .otros-trabajos{
        .ot-galeria-img{
            column-count: 2;
        }
    }
}   
   







// Pc
// Responsive
 
   
//    .con-personajes{
//     
//    .con-personajes div{
//     display: inline-block;
//    }
//    .con-personajes img{
//     width: 80%;
    

   
   /* Contacto */
   /* Puertas */
   .puertas-a img{
    width: 100%;
    }
   /* formulario de comisiones */
   .formulario{
    width: 80%;
   }
   /* grid */
   /* personajes */
   
 

@media(max-width: 576px){
    // Index
    // Sobre Mi
    .sob-enc{
        .sobre-mi{
            display: inline-block;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                img{
                    width: 90%;
                }
            }
            
        }
    }

    // Ultimas publicaciones
    .ult{
        .ult-pub-slider{
            .ult-pub-galeria{
                width: 120vw;
                height: 60vh;
            }
        }
    }

    // Personajes
    .mis-personajes{
        width: 90vw;
        .personajes{
            // display: inline-flex;
            .nav-hor{
                display: none;
            }
            div{
                .nav-ver{
                    width: 3%;
                    font-size: 0.8rem;
                    display: inline-flex;
                }
            }
            .personajes-con{
                margin-left: 10%;
                div{
                    .con-personajes{
                        h2{
                            font-family: "photograph";
                            text-align: center;
                            font-size: 50px;
                        }
                        div{
                            display: inline-block;
                            padding: 3%;
                            img{
                                border-radius: 25px;
                                width: 100%;
                                height: 50%;
                            }
                            
                        }
                    }
                }
            }
        }
        #charlie{
            img{
                height: 100%;
            }
        }
    }

    // Otros trabajos
    .otros-trabajos{
        .ot-galeria-img{
            column-count: 1;
        }
    }


   
    
    .puertas-b{
        display: block;
    }

    .puertas-b img{
        width: 80vw;
    }
     /* Formulario de comisiones */
     .formulario{
        font-size: 1rem;
        padding: 6%;
    }
}

@media(max-width: 575px){
    // Footer
    .footer{
        display: flex;
        background-color: none;
        margin: 0px;
        div{
            display: inline-flex;
            div{
                .img-redes{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    // Index
    // ultimas publicaciones
    .ult{
        .ult-pub-slider{
            .ult-pub-galeria{
                width: 100vw;
                height: 100vh;
                margin: 10% 0 0;
                align-items: none;
                justify-content: none;
                .ult-pub-contenedor{
                    justify-content: none;
                    align-items: none;
                    .ult-pub-con-img{
                        right: 5%;
                    }
                }
            }
        }
    }
    /* Index */
    /* Encuesta */
   
     /* Contacto */
    /* Puertas */
    .puertas-a img{
        display: none;
    }
    .puertas-b img{
        display: block;
    }
     /* Formulario de comisiones */
     .formulario{
        font-size: 1rem;
        width: 80vw;
        padding: 6%;
    }
}

@media(max-width: 425px){
    /* Index */
    /* Encuesta */
    .encuesta{
        display: inline;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
    }
    /* Contacto */
    /* Puertas */
    .puertas-a img{
        display: none;
    }
    .puertas-b img{
        display: inline-flex;
    }
    /* Formulario de comisiones */
    .formulario{
        font-size: 1rem;
        width: 80vw;
        padding: 6%;
    }
}